<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MojoEvents</title>
    <link rel="icon" type="image/png" sizes="64x64" href="https://www.mojo.nl/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body>
    <header>
        <img src="https://www.mojo.nl/images/mojo-logo-triangle.svg">
        <h1>Events</h1>
    </header>
    @if (ViewData["HideNav"] == null)
    {
        <nav>
            <a asp-page="index" class="@((string)ViewData["CurrentPage"] == "home" ? "active" : "")">Home</a>
            <a asp-page="festivals" class="@((string)ViewData["CurrentPage"] == "festivallen" ? "active" : "")">Festivals</a>
            <a asp-page="Users" class="@((string)ViewData["CurrentPage"] == "users" ? "active" : "")">Users</a>
            <a asp-page="Analytics" class="@((string)ViewData["CurrentPage"] == "analytics" ? "active" : "")">Analytics</a>
            <div class="spacer"></div>
            <a href="login@(Context.Session.Keys.Contains("UserID") ? "?logout" : "")" class="special">@(Context.Session.Keys.Contains("UserID") ? "Loguit" : "login")</a>
</nav>
    }
    <main>
        @RenderBody()
    </main>
    <environment include="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
