@page
@model MojoEvents.Pages.EditorModel
@{
    Layout = null;
}
<!--TODO: Apply new style to this page-->

<!DOCTYPE html>

<html>
<head>
    <head>
        <title>Mojo Festivals</title>
        <meta name="description" content="Project periode 4">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="icon" type="image/png" sizes="64x64" href="https://www.mojo.nl/favicon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <script src="https://skrienschot.nl/js/custom.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script type="text/javascript" src="https://rawgit.com/showdownjs/showdown/develop/dist/showdown.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    </head>
    <title>Editor @Model.FestivalName</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/FestivalPage.css" />
        <script src="~/js/editor.js" defer></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/FestivalPage.min.css" asp-append-version="true" />
        <script src="~/js/editor.min.js"></script>
    </environment>
</head>
<body>
    <main>
        <form method="post" action="">
            <div class="video_overlay">
                <img id="picture" src="http://caspianpetrotech.com/wp-content/uploads/2015/10/logo_placeholder_0.png" class="video_overlay_image">
                <div id="video" type="button">Video</div>
            </div>
            <input type="hidden" name="YoutubeVideo" value="@Model.Festival?.YoutubeVideo" />
            <input type="hidden" name="Image" value="@Model.Festival?.Image" />
            <input type="file" id="fileUpload" style="visibility:hidden;" />
            <div class="information_section">
                <div class="container">
                    <input required type="text" name="EventName" value="@Model.FestivalName" class="element header1" data-link=".HeaderText" />
                    <textarea name="Info" class="element Info">@Model.Festival?.Info</textarea>
                    <script>
                        var simplemde = new SimpleMDE({ element: $("[name=Info]")[0], forceSync: true, spellChecker:false });
                    </script>
                    <h1 class="text-center optredens">Optredens</h1>
                    <div class="spotify_container">
                        <div class="row">
                            <div class="header_line">
                                <div class="col-md-1">
                                    <p>Play</p>
                                </div>
                                <div class="col-md-6">
                                    <p>Artiest</p>
                                </div>
                                <div class="col-md-5">
                                    <p>Genre</p>
                                </div>
                            </div>
                            <div class="artist_line">
                                <div class="col-md-1">
                                    <i class="fas fa-play"></i>
                                </div>
                                <div class="col-md-6">
                                    <p class="artistname"><a href="https://skrienschot.nl/artiest/1">DJ batsbak</a></p>
                                </div>
                                <div class="col-md-5">
                                    <p>Hardcore</p>
                                </div>
                            </div>
                            <div class="artist_line">
                                <div class="col-md-1">
                                    <i class="fas fa-play"></i>
                                </div>
                                <div class="col-md-6">
                                    <p class="artistname"><a href="https://skrienschot.nl/artiest/1">DJ batsbak</a></p>
                                </div>
                                <div class="col-md-5">
                                    <p>Hardcore</p>
                                </div>
                            </div>
                            <div class="artist_line">
                                <div class="col-md-1">
                                    <i class="fas fa-play"></i>
                                </div>
                                <div class="col-md-6">
                                    <p class="artistname"><a href="https://skrienschot.nl/artiest/1">DJ batsbak</a></p>
                                </div>
                                <div class="col-md-5">
                                    <p>Hardcore</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="purchase_overlay">
                    <div class="content_side">
                        <h1 class="HeaderText">@Model.FestivalName</h1>
                        <p><input required type="date" class="element" name="StartDate" value="@Model.Festival?.StartDate.ToString("yyyy-MM-dd")" /> - <input class="element" required type="date" name="EndDate" value="@Model.Festival?.EndDate.ToString("yyyy-MM-dd")" /></p>
                    </div>
                    <div class="button_side">
                        <p class="button_euro">
                            €<input class="element" required type="number" pattern="^\d+(?:\.\d{1,2})?$" name="EntryPrice" value="@Model.Festival?.EntryPrice" />
                        </p>
                        <button disabled>
                            <i class="fas fa-euro-sign fa-1_5x"></i>
                            <p>Koop nu</p>
                        </button>
                    </div>
                </div>
                <p>
            </div>
            <div class="panel">
                <h1 class="HeaderText">@Model.FestivalName</h1>
                <input type="text" placeholder="Locatie" value="@Model.Festival?.Location" name="Location"/>
                <span class="@(Model.Festival.Draft ? "draft" : "published")">@(Model.Festival.Draft ? "draft" : "Published")</span><button type="submit">Opslaan</button>
            </div>
        </form>
        <dialog id="VideoSearch">
            <h1>Zoeken naar video.</h1>
            <input type="search" id="SearchQuery" />
            <div id="SearchResults" class="video">
            </div>
        </dialog>
    </main>
</body>
</html>
