@page
@model MojoEvents.Pages.EditorModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editor @Model.FestivalName</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/FestivalPage.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/FestivalPage.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <main>
        <form method="post" action="">
            <table>
                <tr><td><p>EventName</p></td><td><input required type="text" name="EventName" value="@Model.FestivalName" />    </td>
                <tr><td><p>StartDate</p></td><td><input required type="date" name="StartDate" value="@Model.Festival?.StartDate.ToShortDateString()" /></td>
                <tr><td><p>EndDate</p></td><td><input required type="date" name="EndDate" value="@Model.Festival?.EndDate.ToShortDateString()"/>  </td>
                <tr><td><p>Location</p></td><td><input required type="text" name="Location" value="@Model.Festival?.Location"/>     </td>
                <tr><td><p>EntryPrice</p></td><td><input required type="number" name="EntryPrice" value="@Model.Festival?.EntryPrice"/> </td>
                <tr><td><p>YoutubeVideo</p></td><td><input type="text" name="YoutubeVideo" value="@Model.Festival?.YoutubeVideo"/> </td>
                <tr><td><p>Image</p></td><td><input type="text" name="Image" value="@Model.Festival?.Image"/>        </td>
                <tr><td><p>Info</p></td><td><input required type="text" name="Info" value="@Model.Festival?.Info"/>         </td>
                <tr><td><p>Draft</p></td><td><input required type="checkbox" name="Draft" value="@Model.Festival?.Draft"/>    </td>
                <tr>
                    <td><p>OwnerID</p></td><td><input required type="number" name="OwnerID" value="@Model.Festival?.OwnerID"/>    </td>
            </table>
            <input type="submit" />
        </form>
    </main>
</body>
</html>
