@page
@model MojoEvents.Pages.EditorModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editor @Model.FestivalName</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/FestivalPage.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/FestivalPage.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <main>
        <form method="post" action="">
            <div id="video_foto">
                <p>YoutubeVideo</p><input  type="text" name="YoutubeVideo" value="@Model.Festival?.YoutubeVideo" />
                <p>Image</p><input type="text" name="Image" value="@Model.Festival?.Image" />
            </div>
            <div id="alleinfo">
                <p>EventName</p><input required type="text" name="EventName" value="@Model.FestivalName" />
                <p>Info</p><input required type="text" name="Info" value="@Model.Festival?.Info" />

                <p>StartDate</p><input required type="date" name="StartDate" value="@Model.Festival?.StartDate.ToShortDateString()" />
                <p>EndDate</p><input required type="date" name="EndDate" value="@Model.Festival?.EndDate.ToShortDateString()" />
                <p>Location</p><input required type="text" name="Location" value="@Model.Festival?.Location" />
                               
            </div>
            <div id="betaling">
            <input required type="number" name="EntryPrice" value="@Model.Festival?.EntryPrice" />
            </div>
            <div id="Checklist">
                <p>Draft</p><input required type="checkbox" name="Draft" value="@Model.Festival?.Draft" />
                <p>OwnerID</p><input required type="number" name="OwnerID" value="@Model.Festival?.OwnerID" /><br />

                <input type="submit" />
            </div>
            

            
        </form>
    </main>
</body>
</html>
