@page
@model festivalsModel
@{
    ViewData["Title"] = "Festivallen";
    ViewData["CurrentPage"] = "festivallen";
}

<h1>Festivallen.</h1>
<hr />
<p>u ziet hieronder een lijst van al uw georganiseerde festivallen, klik op een festival om de data van dit festival te veranderen.</p>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <p class="warning">@Model.Message</p>
}
<form method="post">
    <table class="interactive">
        <tr>
            <th>Festivallen</th>
            <th></th>
            <th><a asp-page="./Editor" class="add-new">🞥</a></th>
        </tr>
        @foreach (Festival festival in Model.GetFestivals())
        {
            <tr>
                <td><a asp-page="./Editor" asp-route-id="@festival.EventID">@festival.EventName</a></td>
                <td><a asp-page="./Editor" asp-route-id="@festival.EventID" class="edit">Verander</a></td><td><button name="delete" class="delete" value="@festival.EventID">Verwijder</button></td>
            </tr>

        }
    </table>
</form>